<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">

  <main class="glass-content ion-padding">

    <!-- =========== spinner - cargando -loading =========== -->
    <span *ngIf="!character" class="d-flex-center w-full loader" lines="none">
      <ion-spinner name="crescent"></ion-spinner>
    </span>

    <!-- =========== información pesronaje -character information =========== -->
    <section *ngIf="character" class="ion-text-center ion-padding-top">

      <ion-avatar>
        <img [src]="character.image" alt="character.name">
      </ion-avatar>

      <h1>{{character.name}}</h1>
      <div>Estado: {{character.status == 'Alive' ? 'Vivo' :'Muerto'}}</div>

      <ion-item lines="none">
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label>Visto por primera vez: <br><strong>{{character.origin.name}}</strong></ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label>Visto por última vez: <br><strong>{{character.origin.name}}</strong></ion-label>
      </ion-item>

      <ion-item lines="none" class="ion-margin-top">
        <ion-icon slot="start" name="videocam-outline"></ion-icon>
        <ion-label>Episodios donde aparece</ion-label>
        <ion-icon slot="end" name="chevron-down-circle-outline"></ion-icon>
      </ion-item>


      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let epi of episodes" class="ion-no-padding ion-no-margin" size-lg="4" size-md="6" size-sm="6" size="12">

            <ion-card>
              <ion-card-content class="ion-text-start">
                <strong>{{epi.name}}</strong>
                <p>{{epi.episode}}</p>
                <p>Fecha de emisión: {{epi.air_date | date: 'dd-MM-YYYY' }}</p>
              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>
      </ion-grid>

    </section>

  </main>

</ion-content>